
*{
    background-color: #446f70;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title {
text-align: center;
font-size: 2em;
}

.calculator-container {
    display: flex;
    padding-top: 19px;
    justify-content: center;
    flex-flow: column wrap;
    border: 1px solid red  ;
    min-width: 15em;
    align-content: center;

}

.buttons {
    display: flex;
    flex-flow: row wrap;
    margin: 1px;
    text-align: center;
    max-width: 8.8em;
}

.button {
    width: 1em;
    font-size: 1.8em;
    margin: 3px;
}

.backspace {
    width:3.4em ;

}