
*{
    background-color: #446f70;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.title {
text-align: center;
font-size: 2em;
}

.calculator-container {
    display: flex;
    padding-top: 19px;
    padding-bottom: 19px;
    justify-content: center;
    flex-flow: column wrap;
    border: 5px double  #35504eee  ;
    border-radius: 10px;
    min-width: 13em;
    align-content: center;
    background-color: #649a9b;
}

.buttons {
    display: flex;
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
    margin: 1em 1em;
    max-width: 14em;
    background-color: #649a9b;


}

.button {
    width: 1.4em;
    margin: 2px;
    background-color: rgb(79, 88, 85);
    font-size: 1.8em;
    border-radius: 8px;
    color: #f7f0f0;
    border: 2px solid rgb(50, 59, 59);
    transition: background-color 0.1s ease;
}
.button:active {
    background-color: rgb(180, 233, 233);
}


.backspace {
    font-size: 30px;
    width: 3em;
}
.equals{
    width: 2.8em;
}

.display {
    background-color: #475050;
    max-width: 10em;
    height: 5em;
    border-radius: 8px;
    padding: 4px;
    font-size: 20px;
    margin-left: 1.1em;

}

.previus-value {
    background-color: #475050;
    font-size: 25px;
    margin-bottom: 5px;
}
.current-value{
background-color: #475050;
font-size: 30px;

}